PartyJuice.PJManagementSystem/Service References/PJServiceReference/PJService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PartyJuice.PJService.ModelsHelper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PartyJuice.PJService.ModelsHelper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61250/PJService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfShopModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShopModel" nillable="true" type="tns:ShopModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShopModel" nillable="true" type="tns:ArrayOfShopModel" />
  <xs:complexType name="ShopModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShopModel" nillable="true" type="tns:ShopModel" />
  <xs:complexType name="ArrayOfWarehouseModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarehouseModel" nillable="true" type="tns:WarehouseModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehouseModel" nillable="true" type="tns:ArrayOfWarehouseModel" />
  <xs:complexType name="WarehouseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehouseModel" nillable="true" type="tns:WarehouseModel" />
  <xs:complexType name="ArrayOfWarehouseElementModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarehouseElementModel" nillable="true" type="tns:WarehouseElementModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehouseElementModel" nillable="true" type="tns:ArrayOfWarehouseElementModel" />
  <xs:complexType name="WarehouseElementModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DrinkName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehouseElementModel" nillable="true" type="tns:WarehouseElementModel" />
  <xs:complexType name="ArrayOfUserModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserModel" nillable="true" type="tns:UserModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserModel" nillable="true" type="tns:ArrayOfUserModel" />
  <xs:complexType name="UserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserModel" nillable="true" type="tns:UserModel" />
</xs:schema>